-e ../../../tools/vcrpy
-e ../../../tools/azure-devtools
-e ../../../tools/azure-sdk-tools
../../core/azure-core
azure-identity
-e ../azure-storage-blob
aiohttp>=3.0
pyjwt>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
